.btn{
    color: #FFD384;
    cursor: pointer;
}

.card {
    transition: top 1s ease-in-out, left 1s ease-in-out;
  }

  .sm-card{
    width: 18rem;
  }
  .card-selected{
    width: 36rem;
  }
  .spinner {
    position: fixed;
    z-index: 1031;
    top: 40%;
    left: 45%;
  }